/* base/_reset.scss */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #111;
  color: #f1f1f1;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
}
