@use "sass:color";
@use "../base/variables";
@use "../utils/mixins";

.card,
.vivienda,
.propiedad,
.miembro {
  @include mixins.card-style();

  box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
  transition: variables.$transition;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  }

  h3, h4 {
    color: variables.$accent;
    margin-bottom: 1rem;
  }

  p {
    color: variables.$text-light;
    line-height: 1.5;
  }

  img {
    max-width: 100%;
    border-radius: 10px;
  }
}
